<div class="container">
  <header>
    <nav class="navbar">
      <div class="logo">
        <img src="../assets/logo.png" alt="Logo">
      </div>
      <div class="buttons">
        <button>EUR-USD Details</button>
        <button>EUR-GBP Details</button>
      </div>
    </nav>
  </header>
  <!-- Sticky Panel -->
  <section>
    <div class="currency-title">
      <b>Currency Exchanger</b>
    </div>
    <div class="sticky-panel">
      <div class="flex-panel-top">
        <div class="amount-input">
          <label for="amount">Amount</label>
          <input matInput type="number" (input)="onInput($event)">
        </div>
        <div class="converter">
          <div class="currency-dropdown">
            <div class="from-input">
              <label for="from">From</label>
              <select [disabled]="areElementsDisabled" [(ngModel)]="selectedFromCurrency" (change)="onFromCurrencyChange($event)">
                <option *ngFor="let currencyCode of getCurrencyCodes()" [value]="currencyCode">{{ currencyCode }}</option>
              </select>
              <!-- <ngx-select-dropdown
              class="ngx-dropdown"
               [config]="config" [options]="getCurrencyCodes()"></ngx-select-dropdown> -->
            </div>
            <span class="material-symbols-outlined compare_arrows">
              compare_arrows
            </span>
            <div class="to-input">
              <label for="to">To</label>
              <select [disabled]="areElementsDisabled" [(ngModel)]="selectedToCurrency"  (change)="onToCurrencyChange($event)" >
                <option *ngFor="let currencyCode of getCurrencyCodes()" [value]="currencyCode">{{ currencyCode }}</option>
              </select>
            </div>
          </div>
          <div>
            <button class="convert_button" [class.disabled]="areElementsDisabled">Convert</button>
          </div>
        </div>
      </div>
      <div class="flex-panel-bottom">
        <div class="exchange-rate-container">
          <p>1.00 EUR = XX.XX USD</p>
        </div>
        <div class="flex-inner-panel-bottom">
          <div class="exchange-rate-value-container">
            <p>XX.XX USD</p>
          </div>
          <button class="more_details_button" [class.disabled]="areElementsDisabled">More Details</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Card grid Section -->
  <section>
    <div class="card-grid">
      <div class="card" *ngFor="let card of cards">

      </div>
    </div>
  </section>
</div>



<router-outlet></router-outlet>