<div class="container">
  <section class="sticky">
    <!-- Sticky Header  -->
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="../assets/logo.png" alt="Logo">
        </div>
        <div class="buttons">
          <button (click)="goToMoreDetails($event)">EUR-USD Details</button>
          <button (click)="goToMoreDetails($event)">EUR-GBP Details</button>
        </div>
      </nav>
    </header>

    <!-- Sticky Panel -->
    <div>
      <div class="currency-title">
        <b>{{currencyTitle}}</b>
        <button class="back_home_button" *ngIf="moreDetails" (click)="backHome()">Back Home</button>
      </div>
      <div class="panel">
        <div class="flex-panel-top">
          <div class="amount-input">
            <label for="amount">Amount</label>
            <input matInput type="number" [(ngModel)]="inputAmount" (input)="onInput($event)" [min]="0">
          </div>
          <div class="converter">
            <div class="currency-dropdown">
              <div class="from-input">
                <label for="from">From</label>
                <select [disabled]="areElementsDisabled || moreDetails" [(ngModel)]="selectedFromCurrency"
                  (change)="onFromCurrencyChange($event)">
                  <option *ngFor="let currencyCode of getCurrencyCodes()" [value]="currencyCode">{{ currencyCode }}
                  </option>
                </select>
              </div>
              <span class="material-symbols-outlined compare_arrows" (click)="onSwap()">
                compare_arrows
              </span>
              <div class="to-input">
                <label for="to">To</label>
                <select [disabled]="areElementsDisabled" [(ngModel)]="selectedToCurrency"
                  (change)="onToCurrencyChange($event)">
                  <option *ngFor="let currencyCode of getCurrencyCodes()" [value]="currencyCode">{{ currencyCode }}
                  </option>
                </select>
              </div>
            </div>
            <div>
              <button class="convert_button" [class.disabled]="areElementsDisabled"
                (click)="onConvert()">Convert</button>
            </div>
          </div>
        </div>
        <div class="flex-panel-bottom">
          <div class="exchange-rate-container">
            <p>{{ convertedRate }}</p>
          </div>
          <div class="flex-inner-panel-bottom">
            <div class="exchange-rate-value-container" [ngClass]="{'full-width': !moreDetails}">
              <p>{{displayResult}}</p>
            </div>
            <button class="more_details_button" [class.disabled]="areElementsDisabled" (click)="onClickMoreDetails()"
              *ngIf="!moreDetails">More Details</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Card grid Section -->
  <section *ngIf="showCards && !moreDetails">
    <div class="card-grid">
      <div class="card" *ngFor="let card of popularCurrenciesCovertedRates">
        <span>{{card.currency}}</span>
        <p>{{card.convertedAmount}}</p>
      </div>
    </div>
  </section>

  <!-- Historical Chart Section -->
  <section *ngIf="moreDetails">
    <div class="historical-chart">
      <canvas id="canvas"></canvas>
    </div>
  </section>
</div>



<router-outlet></router-outlet>