/* global styles */

$container-max-width: 1400px;

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: $container-max-width;
    padding-right: 15px;
    padding-left: 15px;
}
